<%-  include('../../header.ejs')%>
<section class="dashboard-wrap mtb-40">
    <div class="container">
        <div class="body-content">
            <div class="row">
                <div class="col-md-3">
                    <div class="dash-left">
                        <ul>
                            <li class="active"><a href="/admin/dashboard">Dashboard</a></li>
                            <li><a href="/admin/blogdisplay" >Blogs</a></li>
                            <li><a href="/admin/categorydisplay" >Categories</a></li>
                            <li><a href="/admin/contactdisplay" class="active">Contact</a></li>
                            <li><a href="/admin/aboutdisplay">About</a></li>
                            <li><a href="/logout">Logout</a></li>
                        </ul>
                    </div>   
                </div>
                <div class="col-md-9">
                    <div class="dash-right">
                        <div class="dash-header">
                            <div class="dash-title">
                                <h1>contact</h1>
                            </div>
                            <!-- <div class="dash-nav">
                                <a href="/admin/createblog" class="btn btn-success">Add Blog</a>
                            </div> -->
                        </div>
                        <table class="table table-bordered table-striped">
                            <tr>
                                <th>S.No</th>
                                <th>Name</th>
                                <th>Email</th>
                                <th>Phone</th>
                                <th>Message</th>
                                
                            </tr>
                            <% i=1 %>
                            <% fc.forEach((c)=>{ %> 
                                <tr>
                                 <td><%= i++ %></td>
                                 <td><%= c.name %></td>
                                 <td><%= c.email %></td>
                                 <td><%= c.phone %></td>
                                 <td><%= c.message %></td>
                                </tr>
     
                            <% }) %>
                            
                            
                        </table>
                    </div>   
                </div>
            </div>
        </div>
    </div>
</section>
<%-  include('../../footer.ejs')%>