<%-  include('../../header.ejs')%>
<section class="dashboard-wrap mtb-40">
    <div class="container">
        <div class="body-content">
            <div class="row">
                <div class="col-md-3">
                    <div class="dash-left">
                        <ul>
                            <li class="active"><a href="/admin/dashboard">Dashboard</a></li>
                            <li><a href="/admin/blogdisplay" class="active">Blogs</a></li>
                            <li><a href="/admin/categorydisplay">Categories</a></li>
                            <li><a href="/admin/contactdisplay">Contact</a></li>
                            <li><a href="/admin/aboutdisplay">About</a></li>
                            <li><a href="/logout">Logout</a></li>
                        </ul>
                    </div>   
                </div>
                <div class="col-md-9">
                    <div class="dash-right">
                        <div class="dash-header">
                            <div class="dash-title">
                                <h1>Blog Edit</h1>
                            </div>
                            <div class="dash-nav">
                                <!-- <a href="/admin/createblog" class="btn btn-success">Add Blog</a> -->

                                <!-- <button type="button" class="btn btn-outline-info" data-toggle="modal"
                                        data-target="#exampleModal" style="background-color: aqua; border: black;">Add Blog</button> -->
                            </div>
                        </div>

                        <form method="post" action="/blogupdate/<%= b._id %>" enctype="multipart/form-data">
                            
                            <div class="form-group form-row">
                                <label class="col-md-3 required">Title *</label>
                                <div class="col-md-9">
                                  <input type="text" class="form-control" name="title" value="<%= b.title %>" placeholder="Title" required >
                                </div>
                            </div>
                            <!-- <div class="form-group form-row">
                              <label class="col-md-3">Upload Image</label>
                              <div class="col-md-9">
                                <input type="file" id="image" />
                              </div>
                            </div> -->
                            <div class="form-group form-row">
                                <label class="col-md-3 required">Description *</label>
                                <div class="col-md-9">
                                  <textarea name="description" rows="5" class="form-control" placeholder="Description" required ><%= b.description %></textarea>
                                </div>
                            </div>
                            <div class="form-group form-row">
                                <label class="col-md-3 required">Upload Image *</label>
                                <div class="col-md-9">
                                  <input type="file"  name="image" class="form-control" formControlName="image"><br>
                                  <img src="<%= b.image.url %>" width="50px">
                                </div>
                            </div>
                            
                            <div class="form-group form-row">
                                <label class="col-md-3"></label>
                                <div class="col-md-9">
                                    <!-- <button type="button" class="btn btn-secondary"
                                    data-dismiss="modal">close</button> -->
                                <button type="submit" class="btn btn-primary">Submit</button>
                                </div>
                            </div>
                          

                        
                    </form>

                        
</section>
<%-  include('../../footer.ejs')%>